[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
whitenoise = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"
django-extensions = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
